body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

div#inter {
    width: 250px;
    height: 100vh;
    color: white;
    background-color: rgb(0, 0, 0);
    margin: -18px 0px 0px -30px;
    padding: 0px 18px 0px 25px;
}

#menu li {
    font-size: 30px;
    margin: 2px 20px 0px -45px;
    list-style: none;
    padding: 0px 8px;
}

#menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#menu h1 {
    font-size: 27px;
    text-align: center;
    border-bottom: 5px white solid;

}

#menu h2 {
    font-size: 27px;
    text-align: center;
}


div#barra {
    background-color: rgb(94, 94, 94);
    color: white;
    height: 100px;
    margin: auto auto auto auto;
    padding: 20px 15px 0px 0px;
    text-align: center;
}

#roupas {
    display: block;
    position: absolute;
    width: 300px;
    left: 300px;
    top: 150px;
    max-width: 300px;
    border: 1px solid black;
    box-shadow: 20px 0px 20px gray;
    padding: -200px;
}

#roupas img {
    width: 100%;
    height: 100%;
}

div#roupas figcaption {
    position: absolute;
    top: 0px;
    font-size: 20px;
}

@media (max-width: 768px) {
    div#inter {
        width: 80px;
        margin: -10px 0px 0px -30px;
    }

    nav#menu h1 {
        font-size: 15px;
        border-bottom: 1px white solid;
    }

    nav#menu h2 {
        font-size: 20px;
    }

    nav#menu li {
        font-size: 20px;
    }

    #roupas {
        max-width: 100px;
        width: 100px;
        height: 100px;
        left: 150px;
        top: 140px;
    }

    div#roupas img {
        width: 100%;
        height: 100%;
    }
}